@import 'src/scss/variables';
@import 'src/scss/table';

.modal-custom-root {
  &.modal-preview-csv-valid-root {
    @include cssTableWidth(5rem, 10.5rem, 17.3rem, false, false, false, false, false, false);

    max-width: 78rem !important;
    width: 100% !important;

    .modal-preview-csv-valid-children {
      padding-left: 4.5rem;
      padding-right: 4.5rem;

      .modal-preview-csv-valid-detail {
        .form {
          max-width: 56rem;
          width: 100%;

          .table-result-wrapper {
            .title {
              font-size: $font-text_small;
              font-family: NotoSansJP-Bold, sans-serif;
            }

            .table-root {
              min-width: 63rem;
              margin-bottom: 2rem;

              .ant-table-container {
                padding: 0;
                border-radius: 0;

                .ant-table-body {
                  max-height: 22.5rem!important;
                }

                .ant-table-thead tr th.ant-table-cell {
                  padding: 1.5rem 0 1.3rem 0.6rem;
                }

                table > colgroup > col.ant-table-selection-col {
                  min-width: unset;
                }
              }
            }

          }

          .input-root {
            .input-wrapper .ant-input {
              height: 3.2rem;
              max-width: 32rem;
              width: 100%;
              border-radius: 0.4rem;
            }

            &.text-item {
              height: 4.8rem;
              margin-bottom: 0.8rem;

              .label {
                min-width: 16rem;
                font-size: $font-text_small;
                font-family: NotoSansJP-Bold, sans-serif;
              }
            }

            &:nth-child(2) {
              flex-direction: column;
              row-gap: .8rem;

              .input-wrapper .ant-input {
                height: 3.2rem;
                max-width: 100%;
              }

              &.text-item {
                height: 8.4rem;
              }
            }
          }
        }

      }
    }

    .setting-preview-is-valid {
      display: flex;
      align-items: center;

      .setting-content-wrapper {
        display: flex;
        column-gap: 0.967rem;
        align-items: center;

        img {
          width: 1.667rem;

          &.zoom-out {
            scale: 1.2;
          }

          &.fadeIn {
            transform: scale(1);
            animation: spin 5s linear infinite;
          }
        }

        .label {
          min-width: fit-content;
          font-size: $font-text_required;

        }
      }

      .active {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 5.6rem;

    }
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes dance {
    0% {
      transform: scale(0) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(-360deg);
    }
  }
}
