@import 'src/scss/variables';
@import 'src/scss/table';

.company-notice-root {
  padding: 0.7rem 3rem 0 2.4rem;

  @include cssTableWidth(false, 30%, 11%, 12%, 12%, 12%, 13%, 11%, fasle);
  @include cssTableMinWidth(false, 36rem, 12rem, 12rem, 12rem, 13rem, 12rem, 9rem, fasle);

  .company-notice__container {
    padding: 0.8rem 2.3rem;
    max-width: 100%;
    min-height: 24rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid $color-border;
    border-radius: 0.4rem;
    max-height: calc(100vh - 19.6rem);
    overflow-y: scroll;
    &.empty-data {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.modal-unapproved-root {
  &.modal-custom-root.modal-delete-root .model-delete-content {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 4.4rem;
    margin-bottom: 5.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    .textarea-common-root {
      width: 100%;
    }
  }
}
