@import 'src/scss/mixins';
@import 'src/scss/table';

.document-new-root {
  .document-content-container {
    padding: 2.4rem;

    .input-root, .select-root {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
      width: auto;

      .ant-select, .ant-input {
        max-width: 28rem;
        width: 28rem;
      }

      .input-wrapper, .ant-input, .ant-select-selector {
        height: 3.2rem;
        min-height: 3.2rem;

        border-radius: 0.4rem;
      }

      &.text-item {
        .label {
          font-size: $font-text_small;
          padding-top: 0;
          font-family: NotoSansJP-Bold, sans-serif;
        }
      }

    }

    .top-wrapper {
      display: flex;
      column-gap: 9.6rem;

      .control-range-date {
        margin-bottom: 2.4rem;
        display: flex;

        .range-date-wrapper {
          display: flex;

          .datepickers-root {
            column-gap: 6.4rem;

            .datepicker-root {
              flex-direction: column;
              row-gap: 1rem;
              width: unset;

              .label {
                font-size: $font-text_small;
                padding-top: 0;
                font-family: NotoSansJP-Bold, sans-serif;
              }

              .datepicker-wrapper {
                height: 3.6rem;
              }

              .datepicker-item {
                border: 1px solid rgba(65, 63, 68, 0.3);
                border-radius: 3px;
                height: 3.6rem;
                max-width: 17.2rem;

                .ant-picker-input input {
                  font-size: $font-text_small;
                  font-family: NotoSansJP-Regular, sans-serif;
                  max-width: 11.8rem;
                }
              }
            }
          }
        }
      }
    }

    .drag-drop-wrapper {
      box-sizing: border-box;
      max-width: 118rem;
      width: 100%;
      min-width: 100%;
      height: 16.7rem;
      background: $color-background1;
      border: .1rem dashed $color-blue-1;
      border-radius: .4rem;
      padding: 1.9rem 1.9rem 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2.3rem;

      svg path{
          fill: $color-primary !important;
          stroke: $color-primary !important;
      }

      .title {
        margin-top: .9rem;
        margin-bottom: .3rem;
        font-size: $font-text;

        .high-line {
          color: $color-blue-1;
          font-family: NotoSansJP-Bold, sans-serif;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .sub-title {
        //margin-bottom: .4rem;
        font-size: $font-text_tiny
      }
    }

    .view-wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 6.233rem;
      margin-bottom: 4.1rem;

      .table-data-wrapper {
        max-width: 67.5rem;

        .table-title {
          &:not(.required) {
            font-size: $font-text;
            font-family: NotoSansJP-Bold, sans-serif;
          }

          height: 3rem;
        }

        .table-root .ant-table .ant-table-placeholder .ant-table-expanded-row-fixed {
          height: unset;
        }

        .table-main {
          margin-bottom: 1.2rem;
          @include cssTableWidth(3.2rem, 40.2rem, 16.5rem, false, false, false, false, false, false);

          .ant-table-container {
            box-sizing: border-box;
            width: 67.5rem;
            height: 19.8rem;
            border: 0.05rem solid $color-grey5;
            border-radius: .4rem;
            padding: 1.2rem 0 !important;

            .ant-table-cell .td-span {
              height: 4.8rem !important;
              font-size: $font-text;
            }

            .ant-table-header {
              display: none;
            }

            .ant-table-body {
              height: 100%;
            }
          }
        }

        .table-footer {
          display: flex;
          justify-content: space-between;
          height: 4.8rem;

          .select-root {
            flex-direction: row;
            column-gap: 1.2rem;

            .label {
              width: 100%;
              padding-top: .4rem;
            }

            .ant-select {
              max-width: 19rem;
              width: 19rem;
            }
          }
        }
      }

      .options-wrapper {
        margin-top: 2.2rem;

        .warning-space {
          display: flex;
          align-items: end;
          height: 3rem;
        }

        .control-checkbox-list {
          .ant-table-container {
            padding: .5rem 2.367rem 0 0;

            .ant-table-thead {
              .ant-table-cell {
                padding-top: 0;
                font-size: $font-text;
              }
            }

            .ant-table-body {
              .ant-table-expanded-row-fixed {
                height: 15.4rem;
              }

              .ant-table-row {
                height: 40px;
                max-height: 40px;

                .ant-table-cell {
                  .td-span {
                    padding: 0;
                    font-size: $font-text;
                  }
                }
              }
            }
          }

          .label {
            font-size: $font-text_big;
            margin-bottom: .79rem;
          }

          .device {
            width: 35.4rem;
            border-top: 0.1rem solid $color-border-list;
          }

          .checkboxes-wrapper {
            max-width: 35.9rem;
            width: 100%;
            height: 16.184rem;

            overflow: scroll;

            .checkbox-root {
              .ant-checkbox-group {
                display: flex;
                flex-direction: column;
                flex: auto;

                .ant-checkbox-wrapper {
                  span:nth-child(2) {
                    font-size: $font-text_small;
                  }

                  margin-left: 0;
                  font-size: $font-text_big;
                  flex: 1;
                  padding: 0.2rem 0 0.6rem 2.125rem;
                  box-sizing: border-box;

                  &:nth-child(odd) {
                    background-color: $color-blue-matte
                  }

                  .ant-checkbox {
                    top: 0.3em;
                    margin-right: 1.6rem;

                    span.ant-checkbox-inner {
                      width: 2.4rem;
                      height: 2.4rem;

                      &:after {
                        width: 0.8rem;
                        height: 1.3rem;
                        left: 25.5%;
                        top: 44%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .actions-wrapper {
      display: flex;
      justify-content: space-between;

      .setting {
        display: flex;
        column-gap: .967rem;
        align-items: center;

        &.active {
          &:hover {
            cursor: pointer;
          }
        }

        img {
          width: 1.667rem;

          &.zoom-out {
            scale: 1.2;
          }

          &.fadeIn {
            transform: scale(1);
            animation: spin 5s linear infinite;
          }

        }

        .label {
          font-size: $font-text_required;
          color: $color-black1;
        }
      }

      .buttons-action {
        display: flex;
        column-gap: 1.2rem;

        .btn {
          @include button-normal;
        }

        .cancel-btn {
          @include cancel-btn;
        }
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes dance {
    0% {
      transform: scale(0) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(-360deg);
    }
  }

  .required {
    color: $color-required;
    font-size: $font-text_required;
    line-height: 1.6rem;
    font-family: NotoSansJP-Medium, sans-serif;
  }
}
