.iis-management-notification-root{
  .table-container{
    .table-layout-root{
      .search-root{
        padding-right: 3rem;
        .search-place{
          .input-root {
            gap: 1.2rem;
            .input-item input {
              &.ant-input{
                border-radius: 0.4rem!important;
              }
            }
          }
        }
        .submit-place{
          padding-top: 3.45rem;
          justify-content: end;
        }
      }
    }


  }

}