@import 'src/scss/variables';

.modal-custom-root {
  &.modal-template-notification-root {
    max-width: 69.3rem !important;
    width: 100% !important;

    .modal-custom-content-children {
      padding-left: 4.5rem;
      padding-right: 4.5rem;

      .children-modal-template-notification-root {
        .children-modal-template-notification-detail {
          .form {
            max-width: 56rem;
            width: 100%;

            .text-editor-root {
              display: flex;
              flex-direction: column;
              row-gap: .8rem;
              flex: auto;
              height: 26rem;
              min-height: 26rem;
              margin-bottom: 2.4rem;

              .label {
                width: 9.6rem;
              }

              .sub-label {
                font-size: $font-text_required;
                font-family: NotoSansJP-Medium, sans-serif;
                color: $color-black1;
              }

              .text-editor-wrapper {
                flex: 2;

                .rsw-editor {
                  min-height: 26rem;
                  height: 100%;
                }
              }
            }

            .input-root {
              .input-wrapper .ant-input {
                height: 3.2rem;
                max-width: 32rem;
                width: 100%;
                border-radius: 0.4rem;
              }

              &.text-item {
                height: 4.8rem;
                margin-bottom: 0.8rem;

                .label {
                  min-width: 9.6rem;
                }
              }

              &:nth-child(2) {
                flex-direction: column;
                row-gap: .8rem;

                .input-wrapper .ant-input {
                  height: 3.2rem;
                  max-width: 100%;
                }

                &.text-item {
                  height: 8.4rem;
                }
              }
            }
          }
        }
      }
    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: center;
      padding-top: 9.4rem;

    }
  }

}