@import 'src/scss/auth';

.change-password-root {
  margin: 4rem auto;
  max-width: 45rem;
  width: 45rem;
  .input-root {
    flex-direction: column;
    .label {
      padding-top: 2rem;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      color: $color-black1;
      padding-bottom: 0.5rem;
    }
    .ant-input {
      padding-right: 3rem !important;
      height: 4rem;
    }
    .icon-password {
      width: 1.5rem;
      right: 1rem;
    }
  }
  .ant-btn {
    @include auth-btn;
    margin-bottom: 2rem;
    width: 43.8rem;
    height: 4.8rem;
    margin-top: 3rem;
  }

  .register-link {
    @include auth-text-link;
    padding-bottom: 7.15rem;
  }
}
