@import 'src/scss/variables';

.modal-custom-root {
  &.modal-edit-company-user {
    .modal-custom-content-children {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &.modal-edit-individual-children{
    .modal-custom-content-action-footer{
      justify-content: center;
    }
  }
}
