@import 'src/scss/variables';

.modal-custom-root {
  &.modal-create-edit-company-user {
    max-width: 64rem !important;
    width: 100% !important;
    .modal-custom-content-children {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
      .form {
        .input-root, .select-root {
          .input-wrapper .ant-input, .ant-select-selector {
            height: 3.2rem;
            min-height: 3.2rem;
            max-width: 32rem;
            min-width: 32rem;
            width: 100%;
            border-radius: 0.4rem;
          }
          &.text-item {
            height: 4.8rem;
            margin-bottom: 1.6rem;

            .label {
              min-width: 15.7rem;
              font-family: NotoSansJP-Bold, sans-serif;
            }
          }
        }
      }
      .individual-user-root {

      }
      .bulk-user-root {
        .form {
          .input-root, {
            flex: 2;
            .input-wrapper .ant-input {
              min-width: auto;
              width: 100%;
              border-radius: 0.4rem;
              text-overflow: ellipsis;
            }
          }
          .upload-files-bulk-wrapper {
            justify-content: space-between;
            column-gap: 1.9rem;
            flex: auto;
            display: flex;


            .btn-upload {
              flex: 0;
              background-color: $color-primary;
              min-width: 7.2rem;
              height: 3.2rem;
              border-color: $color-primary;
              border-radius: 0.5rem;
              font-size: $font-text;
              font-family: NotoSansJP-Bold, sans-serif;
            }
          }

        }
      }
    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .setting-add-new-company-user {
        .setting-content-wrapper {
          display: flex;
          column-gap: 0.967rem;

          img {
            width: 1.667rem;
            &.image-small{
            width: 1.167rem;

            }
          }

          .label {
            min-width: fit-content;
            font-size: $font-text_required;
            color: $color-blue-1;
            text-decoration: underline  ;
          }
        }

        &:hover {
          cursor: pointer;
        }


      }
    }
  }
}
