@import 'src/scss/table';
@import 'src/scss/variables';
.iis-management-companies-root{

  .table-container{
    @include cssTableWidth(3.7rem, 20.1rem,25.9rem,15.3rem,20.9rem,9.4rem,12.9rem, 11.4rem, 11.4rem, 10rem);
    .table-layout-root{
      .search-root{
        padding-right: 3rem;
        .search-place{
          .input-root {
            row-gap: 1.2rem;
            .label {
              font-size: $font-text_small;
              font-family: NotoSansJP-Bold, sans-serif;
            }

            &:nth-child(odd) {
              min-width: 24rem;
            }

            &:nth-child(even) {
              min-width: 32rem;
            }
            .input-wrapper{
              .ant-input-affix-wrapper{
                border-radius: .4rem;
              }
            }
          }
        }
        .submit-place{
          padding-top: 3.45rem;
          justify-content: end;
        }
      }
    }


  }

}
