@import 'src/scss/mixins';
@import 'src/scss/formDetails';

.auto-complete-root {
  display: flex;
  position: relative;
  // gap: 0.9rem;
  align-items: center;
  &.auto-complete-required {
    @include text-required;
  }
  .label {
    padding-top: 0.8rem;
    min-width: fit-content;
  }
  .auto-complete-input {
    // width: 25rem;

    &:hover {
      &.ant-select:not(.ant-select-disabled) {
        &:hover {
          .ant-select-selector {
            border-color: $color-primary;
          }
        }
      }
    }

    &.ant-select:not(.ant-select-customize-input) {
      .ant-select-selector {
        border-radius: 0.8rem;
        border: $border;
        height: 4rem;
      }
    }

    .ant-select-single .ant-select-selector .ant-select-selection-search {
      display: flex;
      align-items: center;
    }

    .ant-select-selection-placeholder {
      margin: auto;
      color: #c0c0c0;
    }
  }

  .required {
    color: $color-required;
    font-size: $font-text_required;
  }
  svg {
    position: absolute;
    right: 1rem;
    top: 28%;
  }
  @include input-detail-row(17.8rem, 7rem, 45rem, false);
  .auto-complete-wrapper {
    width: 21.5rem !important;
    .auto-complete-input {
      width: 100%;
      .ant-select-selector {
        display: flex;
        align-items: center;
        position: relative;
        height: 3.5rem !important;
        min-height: 3.5rem !important;
        border-radius: 0.5rem !important;
        border: 0.1rem solid $color-border;
        .label-after {
          color: $color-grey;
        }
      }
    }
  }
  &.disable-white {
    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background-color: $color-white;
    }
  }
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  height: 100%;
}

.autocomplete-options {
  max-width: 26rem;
}
