@import 'src/scss/table';
@import "src/scss/variables";

.document-user-root {
  .main-contaiter {
    background-color: $color-background;

    .main-wrapper-title, .title-top {
      font-size: $font-text_big;
      color: $color-black1;
      font-family: NotoSansJP-Bold, sans-serif;
    }

    .title-table-top {
      margin-bottom: 1.4rem;
    }

    .notification-wrapper {
      width: 100%;
      height: 20rem;
      top: 50px;
      border-radius: .5rem;
      background-color: $color-white;
      margin-bottom: 4.2rem;
      border: 1px solid $color-border;
      overflow: hidden;
      padding: 1rem 0 0 1rem;

      &.empty-data {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        overflow-y: scroll;
        height: 100%;
      }
    }


    .tables-container {
      padding-top: .7rem;
      background-color: $color-white;

      .search-root {
        position: relative;
        padding: 2.4rem;

        .search-place {
          max-width: 78.2rem;
          width: 100%;
          display: flex;
          justify-content: space-between;
          column-gap: 0;
          .label {
            font-size: $font-text_small;
            font-family: NotoSansJP-Bold, sans-serif;
          }
          .input-root {
            row-gap: 1.2rem;
          }

          .input-wrapper {
            min-width: 28rem;

            .ant-input-affix-wrapper {
              border-radius: .4rem;
            }
          }

          .datepickers-root {
            min-width: 35.5%;
            justify-content: space-between;

            .datepicker-root,
            .datepicker-wrapper {
              min-width: 13.4rem;
              width: 13.4rem;
              min-height: 100%;
              justify-content: space-between;
            }
          }

        }

        .submit-place {
          position: absolute;
          right: 2.4rem;
          bottom: 2.4rem;
        }
      }

      .table-root .ant-table .ant-table-container {

        .ant-table-thead tr th.ant-table-cell {
          padding-top: 0;
        }

        .ant-table-cell {
          font-size: $font-text;
        }

        .ant-checkbox-indeterminate {
          .ant-checkbox-inner {
            background-color: $color-primary;

            &:after {
              background-color: $color-white;
              //transform: translate(-20%, -50%) scale(1);
              width: 13px;
              height: 4px;
              top: 50%;
              left: 33.5%;
            }
          }
        }
      }

      .table {
        .table-root .ant-table .ant-table-container {
          height: 40.4rem;
          overflow-y: auto;
        }

        .table_action-root .btn-list .button-root {
          width: 15.6rem;
        }

        .ant-pagination-options {
          display: none;
        }

        .table-footer-wrapper {
          display: flex;
          justify-content: center;

          .ant-pagination.pagination-root {
            display: flex;
            justify-content: center;
            padding: 2.2rem 0;

            .ant-pagination-item {
              font-weight: bold;
              min-width: 2.4rem;
              height: 2.4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              &:not(.ant-pagination-item-active) {
                background-color: $color-background1;

                a {
                  color: $color-black1;
                }
              }

              .ant-pagination-prev,
              .ant-pagination-next,
              .ant-pagination-jump-prev,
              .ant-pagination-jump-next {
                min-width: 2.4rem;
                height: 2.4rem;
                line-height: 2.6rem;
                font-size: $font-text_required;
                margin-right: 1rem;
              }

            }

            .ant-pagination-item-link, .ant-pagination-item-link {
              border: none !important;
              font-weight: bold;
              min-width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }


    }

  }
}
