@import 'src/scss/variables';

.modal-custom-root {

  &.modal-admin-create-edit-company {
    max-width: 64rem !important;
    width: 100% !important;
    .modal-custom-content-children {
      padding-left: 4.5rem;
      padding-right: 3.2rem;

      .iis-add-new-and-edit-company-root {
        .iis-company-detail-module-root {
          .form {
            .input-root {
              .input-wrapper .ant-input {
                height: 3.2rem;
                max-width: 32rem;
                width: 100%;
                border-radius: 0.4rem;
              }

              &.text-item {
                height: 4.8rem;
                margin-bottom: 1.6rem;

                .label {
                  min-width: 16.3rem;
                  font-size: $font-text_required;
                  font-family: NotoSansJP-Bold, sans-serif;
                }
              }
            }

            .color-select-root {
              .label {
                max-width: 16.5rem;
                width: 100%;
                font-size: $font-text_required;
                font-family: NotoSansJP-Bold, sans-serif;
              }
            }

            .control-wrapper {
              display: flex;
              justify-content: space-between;
              flex: auto;
              width: 100%;
              height: 4.8rem;

              .control {
                flex: 2;
              }

              .color-preview-wrapper {
                flex: 1;
                max-width: 6.4rem;
                width: 100%;
                height: 2.743rem;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $color-border;
              }
            }

            .upload-file-wrapper {
              justify-content: space-between;
              column-gap: 1.9rem;
              flex: auto;
              display: flex;
              .input-root {
                flex: 2;
              }
              .btn-upload {
                flex: 0;
                background-color: $color-primary;
                min-width: 7.2rem;
                height: 3.2rem;
                border-color: $color-primary;
                border-radius: 0.5rem;
              }
            }
          }
        }
      }
    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: center;
    }
  }
}
