@import "src/scss/variables";

.modal-custom-root {
  &.modal-edit-common-document {
    max-width: 64rem !important;
    width: 100% !important;

    .modal-custom-content-children {
      padding-left: 4.5rem;
      padding-right: 4.5rem;

      .edit-common-document-root {
        .form {
          display: flex;
          row-gap: 1.6rem;
          flex-direction: column;

          .label {
            min-width: 15.7rem;
            font-family: NotoSansJP-Bold, sans-serif;
          }

          .multi-select-root {
            padding: 0;
            justify-content: start;
            align-items: start;

            .ant-select-selector {
              border-radius: .4rem !important;
            }
          }

          .input-root, .select-root, .multi-select-root {
            .ant-select.ant-select-multiple {
              width: 100% !important;
            }

            .ant-select-multiple .ant-select-selection-item {
              border-radius: 1.2rem !important;
              padding: 0 .9rem;
            }

            .input-wrapper .ant-input, .ant-select-selector {

              height: 3.2rem;
              min-height: 3.2rem;
              min-width: 32rem;
              //width: 32rem;
              //min-width: 32rem;
              border-radius: 0.4rem;
            }

            &.text-item {
              height: 4.8rem;
              //margin-bottom: 1.6rem;
            }

            &.item-upload {
              .input-wrapper {
                .ant-input.ant-input-disabled {
                  min-width: 22.9rem;
                  width: 22.9rem;
                  text-overflow: ellipsis;
                }
              }

            }

          }

          .control-range-date {
            display: flex;
            margin-bottom: 1.6rem;

            .datepickers-root {
              gap: 0;

              .datepicker-root {
                max-width: 17.3rem;

                &:nth-child(3) {
                  max-width: 13.4rem !important;
                }

                .label {
                  display: none;
                }

                .datepicker-item {
                  border: 1px solid rgba(65, 63, 68, 0.3);
                  border-radius: 3px;
                  height: 3.6rem;
                  max-width: 17.2rem;
                  .ant-picker-input input {
                    font-size: $font-text_small;
                    font-family: NotoSansJP-Regular, sans-serif;
                  }
                }
              }
            }
          }

          .upload-files-edit-document-wrapper {
            justify-content: space-between;
            column-gap: 1.9rem;
            flex: auto;
            display: flex;

            .input-root {
              flex: 2;
            }

            .button-root.ant-btn.button-root-text-center {
              flex: 0;
              background-color: $color-primary;
              width: 7.2rem;
              min-width: 7.2rem;
              height: 3.2rem;
              border-color: $color-primary;
              border-radius: 0.5rem;
            }
          }
        }
      }

    }

    .modal-custom-content-action-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .setting-download-file-common-editing {
        .setting-content-wrapper {
          display: flex;
          column-gap: 0.967rem;

          img {
            width: 1.167rem;
          }

          .label {
            min-width: fit-content;
            font-size: $font-text;
            color: $color-blue-1;
            text-decoration: underline;
            font-family: NotoSansJP-Bold, sans-serif;
          }
        }

        &:hover {
          cursor: pointer;
        }


      }
    }
  }
}
