@import 'src/scss/variables';
.setting-root {
  padding: 0.7rem 2.4rem;
  .label {
    min-width: 17.6rem;
    color: $color-black1;
    font-weight: 700;
  }
  .input-root {
    margin-bottom: 2.4rem;
    .input-wrapper .ant-input {
      height: 3.2rem;
      max-width: 28rem;
      width: 28rem;
    }
  }
  .notification-setting {
    padding-top: 2.4rem;
    display: flex;
    align-items: center;
    .notification-text {
      font-weight: 700;
      font-size: $font-text_big;
      line-height: 2.5rem;
      color: $color-black1;
    }
  }
  .col1 {
    min-width: 71.2rem;
  }
  .col2 {
    min-width: 13.2rem;
  }
  .notification-list {
    margin-top: 3.2rem;
  }
  .notification-row {
    display: flex;
    align-items: flex-start;
    height: 6.4rem;
    .notification-item {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;
      padding-left: 4.8rem;
      .input-root {
        margin-bottom: 0;
      }
      .button-root.ant-btn {
        height: 3.2rem;
      }
    }
    .notification-status {
      width: 6.4rem;
      height: 2.4rem;
      border-radius: 4.5rem;
      text-align: center;
      font-size: $font-text_required;
      font-weight: 700;
      margin-left: 0.4rem;
      &.success {
        color: $color-white;
        background-color: $color-notification-line1;
      }
      &.warning {
        background-color: $color-grey7;
        color: $color-blue-2;
      }
      &.ng {
        color: $color-white;
        background-color: $color-notification-sms;
      }
    }
    .checkbox-root {
      margin-left: 4.1rem;
    }
    .col2,
    .checkbox-root {
      margin-top: 0.5rem;
    }
  }
  .line-info {
    padding-left: 22.4rem;
    font-size: $font-text_required;
    line-height: 1.7rem;
    &.line-hide {
      visibility: hidden;
    }
    span {
      color: $color-blue-1;
      cursor: pointer;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 3.6rem;
    .button-root.ant-btn {
      width: 12rem;
      height: 4.4rem;
      font-weight: 600;
      font-size: $font-text;
      line-height: 2.4rem;
      &.btn-reset {
        background-color: $color-white;
        color: $color-black1;
        border: 1px solid $color-border;
      }
    }
  }
}

.modal-line-info {
  &.modal-custom-root.modal-delete-root .model-delete-content {
    flex-direction: column;
    margin-top: 6.8rem;
    img {
      width: 10rem;
      margin-top: 2.6rem;
    }
  }
  &.modal-custom-root .ant-modal-content .ant-modal-body .modal-custom-content .modal-custom-content-action-footer {
    margin-top: 5.6rem;
  }
}
