@import 'src/scss/table';
@import 'src/scss/variables';

.admin-management-list-root {
  @include cssTableWidth(false, 19.8%, 33.7%, 21.5%, fasle, fasle, fasle, fasle, fasle);
  @include cssTableMinWidth(false, 22.6rem, 39.6rem, 25.3rem, fasle, fasle, fasle, fasle, fasle);

  .table-container {
    .table-layout-root {
      .search-root {
        padding-right: 3rem;

        .search-place {
          max-width: 62.4rem;
          column-gap: 6.4rem;
          row-gap: 2.2rem;

          .input-root {
            row-gap: 1.2rem;

            .label {
              font-size: $font-text_small;
              font-family: NotoSansJP-Bold, sans-serif;
            }

          }
          .input-wrapper {
            min-width: 24rem;
            .ant-input-affix-wrapper {
              border-radius: .4rem;
            }
          }
        }

        .submit-place {
          padding-top: 3.45rem;
          justify-content: end;
        }
      }
    }


  }

}